[Unit]
Description=lower_limb_exoskeleton_agent
[Service]
Type=forking
Restart=always
ExecStart=/home/jy/git/exoskeleton.sh
ExitType=cgroup
timeoutSec=infinity
TimeoutAbortSec=infinity
TimeoutStartSec=infinity
TimeoutStopSec=infinity
RemainAfterExit=1

[Install]
WantedBy=multi-user.target
